<!DOCTYPE html>
<html>
<head>
    <title>ChatBot</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/chat-script.js"></script>
</head>
<body>
<h2>Welcome <%= userid %> You are chatting with <%= botname %></h2>
<p id="userid" style="display: none"><%=userid%></p>
<p id="botname" style="display: none"><%=botname%></p>
<br>
<br>
<div id="chat-history">

</div>
<div>
    <input type="text" id="chat-user-input">
</div>
<%- include('../partials/logout') %>
<%- include('../partials/footer') %>
