<!DOCTYPE html>
<html>
  <head>
    <title>ChatBot</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome <%= userid %></h1>
    <% if (bots.length !== 0) { %>
      <label>Choose one of your bots</label>
        <form action="/chat" method="post">
          <% bots.forEach(bot => {%>
            <label for="<%= bot.name %>"><%= bot.name %></label>
            <input type="radio" name="name" id="<%= bot.name %>" value="<%= bot.name %>">
            <p><%= bot.personality %></p>
          <% }) %>
            <input type="text" name="userid" value="<%= userid %>" style="display: none">
          <button type="submit">Chat !</button>
        </form>
    <% } %>
    <br>
    <br>
    <br>
    <label>Create a bot</label>
    <form action="/add" method="post">
      <label for="name">Name</label>
      <input type="text" name="name" id="name">
      <label for="personality">Name</label>
      <input type="text" name="personality" id="personality">
      <input type="text" name="userid" id="userid" style="display: none" value="<%= userid %>">
      <button type="submit">Submit</button>
    </form>
    <%- include('../partials/footer-logout') %>
<%- include('../partials/footer') %>
